<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <style>
        {{ page.url | getVueComponentCssForPage | safe }}
    </style>
    <meta name="description" content="{{interestSentence}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:url" content="https://www.ganslandt.xyz/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="{{title}}" />
    <meta property="og:description" content="{{interestSentence}}" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:image" content="https://ganslandt.xyz/bjoern.jpg" />

    <meta name="theme-color" content="#303333">

    <link rel="icon" sizes="any" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="preload" href="/fonts/CanelaDeck-Bold-Web-subset.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/IBMPlexSans-Regular-Latin1-subset.woff2" as="font" type="font/woff2" crossorigin> 
</head>

<body>
    {{ content | safe }}
    {% set js %}
    {% endset %}
    {# <script>{{ js | babel | safe }}</script> #}
</body>
</html>
