@import "../../variables.css";
@import "../../mixins.css";

.articles-section {
    padding: 12base 0;
    color: var(--dark-grey);
    background-color: color(var(--dark-grey) lightness(92%));
}

.articles-section__headline {
    display: block;
    margin-bottom: 12base;
    text-align: center;
}

.articles {
    display: grid;
    grid-gap: 8base;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100base, 1fr));
}

.articles__entry {
    display: flex;
    flex-direction: column;
    padding: 8base;
    font-size: 4.5base;
    line-height: 6base;
    background-color: var(--white);
}

.articles__title,
.articles__description {
    margin-bottom: 5base;
    max-width: 150base;
}

.articles__description {
    flex: 1;
}
