@import "../../variables.css";
@import "../../mixins.css";

.articles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 12base 0;
    background-color: color(var(--dark-grey) lightness(92%));
    color: var(--dark-grey);
}

.articles__headline {
    display: block;
    margin-bottom: 12base;
    text-align: center;
}

.articles__entry {
    max-width: 100base;
    padding: 8base;
    font-size: 4.5base;
    line-height: 6base;
    background-color: var(--white);
}

.articles__title,
.articles__description {
    margin-bottom: 5base;
}
