<div class="articles">
    <div class="container">
        <h2 class="articles__headline">I made this:</h2>
        <section class="articles__entry">
            <h3>Aligning design & development</h3>
            <p>Collaboration between designers and developers is one of the more persistent problems in product
                development. We’ll look at why turning designs into code is hard and how to make it easier without
                relying on unicorns or other mythical creatures.</p>
        </section>
    </div>
</div>
