<section class="articles-section">
    <div class="container">
        <h2 class="articles-section__headline">Articles & Slides</h2>
        <div class="articles">
            {{#each htmlWebpackPlugin.options.articles}}
            <article class="articles__entry">
                <h3 class="articles__title">{{this.title}}</h3>
                <p class="articles__description">{{this.description}}</p>
                <a class="articles__link" href="{{this.link}}">Read all about it</a>
            </article>
            {{/each}}
        </div>
    </div>
</section>
