<h1>
    Björn Ganslandt is a frontend developer who loves
    <span class="landing-headline-select">
        <span class="js-landing-headline">design</span>
        <label class="visually-hidden no-select" for="interests">Select interest</label>
        <select id="interests" class="landing-headline-select__input js-landing-select">
            {{#each htmlWebpackPlugin.options.interests}}
            <option>{{this}}</option>
            {{/each}}
        </select>
    </span>
</h1>
