{% extends "layouts/app.html" %} {% set title = "Björn Ganslandt is a freelance
frontend web developer" %} {% block content %}
<main>
    <img
        src="${require('../../assets/images/bjoern.jpg?size=320')}"
        srcset="${require('../../assets/images/bjoern.jpg?min=320,max=600').srcSet}"
    />
    <div class="container">
        {% include "components/landing-headline/landing-headline.html" %}
        {% include "components/social-media-icons/social-media-icons.html" %}
    </div>
</main>

{% endblock %}
