{{#> base }}
<main>
    <img {{srcSet "bjoern.jpg"}} />
    <div class="container title-box">
        <div class="space-8base">
            {{> landing-headline}}
        </div>

        {{> social-media-icons}}
    </div>
</main>
{{/ base }}
