@import "../../variables.css";
@import "../../mixins.css";

.button-link {
    display: block;
    font-size: 6base;
    font-family: Plex-Sans, sans-serif;
    line-height: 1;
    padding: 2.5base 5base 3.5base;
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 0.5base;
    transition: all 0.2s ease-in-out;

    &:focus {
        @mixin focus-style;
    }
}
