{% extends "layouts/app.html" %}

{% set title = "Björn Ganslandt is a freelance frontend web developer" %}

{% block content %}
<main class="container">
{% include "components/landing-headline/landing-headline.html" %}
</main>

{% endblock %}
