{{#> base title="Björn Ganslandt is a freelance frontend web developer"}}
{{> header}}
<div class="container">
    <main>
        {{ requirePage htmlWebpackPlugin.options.page }}
    </main>
</div>
<style></style>
{{/ base }}
