{{#> base title="Björn Ganslandt is a freelance frontend web developer"}}
{{> header}}
<main class="container">
    {{ requirePage htmlWebpackPlugin.options.page }}
</main>
<style></style>
{{/ base }}
