@import "../../variables.css";
@import "../../mixins.css";

main {
    font-size: 4base;
    line-height: 5base;
    padding-top: 8base;
    padding-bottom: 8base;
    max-width: 60ch;
}

h1,
h2,
p {
    margin-bottom: 4base;
}

p {
    & + h2 {
        margin-top: 8base;
    }
}
