@import "../../variables.css";

.social-media-icons {
    display: flex;
}

.social-media-icons__icon {
    &:not(:last-child) {
        margin-right: 6base;
    }

    svg {
        fill: var(--white);
        width: 8base;

        &:hover {
            fill: var(--blue);
        }
    }
}
