<ul class="social-media-icons">
    <li class="social-media-icons__icon">
        <a href="https://codepen.io/Ansimorph/">
            <img markup-inline src="../../assets/images/icon-codepen.svg" />
        </a>
    </li>
    <li class="social-media-icons__icon">
        <a href="https://github.com/Ansimorph/">
            <img markup-inline src="../../assets/images/icon-github.svg" />
        </a>
    </li>
    <li class="social-media-icons__icon">
        <a href="https://twitter.com/Ansimorph/">
            <img markup-inline src="../../assets/images/icon-twitter.svg" />
        </a>
    </li>
</ul>
