<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:url" content="https://www.ganslandt.xyz/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{htmlWebpackPlugin.options.title}}" />
    <meta property="og:description" content="{{htmlWebpackPlugin.options.description}}" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:image" content="../../assets/images/favicon.png" />
</head>

<body>
    {{> @partial-block }}
</body>

</html>
