<div class="landing-hero">
    <div class="landing-hero__image">
        <img {{srcSet "bjoern.jpg"}} sizes="(min-width: 45em) 50vw, 100vw" alt="Björn Ganslandt" />
    </div>
    <div class="landing-hero__text">
        <div class="space-12base">
            {{> landing-headline}}
        </div>
        <div class="space-12base">
            {{> button-link text="contact me" href="mailto:hi@ganslandt.xyz"}}
        </div>
        {{> social-media-icons}}
    </div>
</div>
