{% extends "layouts/app.html" %}

{% set title = 'Björn Ganslandt' %}

{% block content %}

<main>
    <a class="contact" href="mailto:hi@ganslandt.xyz">hi@ganslandt.xyz</a>

    <h1 class="headline">Björn Ganslandt is a frontend developer who loves design</h1>
</main>

{% endblock %}
