<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <meta property="og:url" content="https://www.ganslandt.xyz/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ title }}" />
        <meta property="og:image" content="" />
        <meta property="og:locale" content="en-US" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
