@import "../variables.css";

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.visually-hidden {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.container {
    max-width: 120rem;
    padding: 0 8base;
    margin: 0 auto;
}
