<footer>
    <ul class="footer">
        <li class="footer__entry">
            <a class="footer__link" href="/imprint/">Imprint & Legal</a>
        </li>
        <li class="footer__entry">
            <a class="footer__link" href="mailto:hi@ganslandt.xyz">hi@ganslandt.xyz</a>
        </li>
    </ul>
</footer>
