<ul class="social-media-icons">
    <li>
        <a
            href="https://codepen.io/Ansimorph/"
            class="social-media-icons__icon"
        >
            ${require('../../assets/images/icon-codepen.svg')}
        </a>
    </li>
    <li>
        <a
            href="https://github.com/Ansimorph/"
            class="social-media-icons__icon"
        >
            ${require('../../assets/images/icon-github.svg')}
        </a>
    </li>
    <li>
        <a
            href="https://twitter.com/Ansimorph/"
            class="social-media-icons__icon"
        >
            ${require('../../assets/images/icon-twitter.svg')}
        </a>
    </li>
</ul>
