.headline {
    font-size: 3.2rem;
    color: var(--white);
    font-weight: 700;
    font-family: Canela, Georgia, serif;
}

.headline__select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background: none;
    border: 0;
    opacity: 0;
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }
}

.headline__select-wrapper {
    --dropdown-caret-size: 0.8rem;

    display: inline-block;
    position: relative;
    padding-right: calc(var(--dropdown-caret-size) * 2 + 0.4rem);
    text-decoration: underline;

    &:focus-within {
        outline: 1px solid var(--blue);
    }

    &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border-left: var(--dropdown-caret-size) solid transparent;
        border-right: var(--dropdown-caret-size) solid transparent;
        border-top: var(--dropdown-caret-size) solid currentColor;
    }
}
