:root {
    --dark-grey: #303333;
    --white: #fff;
}

@font-face {
    font-family: "Canela";
    src: url("../fonts/CanelaDeck-Bold-Web.woff.cast5") format("woff"),
        url("../fonts/CanelaDeck-Bold-Web.woff2.cast5") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

body {
    background-color: var(--dark-grey);
    margin: 0;
    font-family: Canela, Georgia, serif;
    color: var(--white);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact {
    font-size: 1.5em;
}
