:root {
    --bg: #ccc;
}

@font-face {
    font-family: "Canela";
    src: url("../fonts/Roboto-Regular.woff.cast5");
}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: Canela, Georgia, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact {
    font-size: 1.5em;
}
