:root {
    --bg: #ccc;
}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: Georgia, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact {
    font-size: 1.5em;
}
